h2 {
  font-size: 80px;
  color: black;
  font-style: oblique;
  margin: 2px;
}

img {
  max-width: 300px;
  /* float: center; */
  /* margin: 15px 15px; */
  display: inline-block;
  align-content: center;
}

.body-content {
  float: center;

  /* align-content: center; */
}
